.company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  
    border-radius: 0 0 0 100px;
    background-image: url(../../assets/image/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company .image {
    width: 300px;
    border-radius: 0 100px 0 100px;
    height: 100%;
    object-fit: cover;
    height: 500px;
}
.company .image img {
    width: 300px;
    border-radius: 0 100px 0 100px;
    height: 100%;
    object-fit: cover;
}

.company .text {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:50px;
}

.company .text h1 {
    font-weight: 900;
    margin-bottom: 20px;
}
.company .text p {
    font-weight: 700;
}


@media(max-width: 900px) {
    .company .image {
        display: none;
    }

}