.depoiment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 0 100px;
}

.depoiment .image {
    width: 300px;
    border-radius: 0 100px 0 100px;
    height: 100%;
    object-fit: cover;
}
.depoiment .image img {
    width: 300px;
    border-radius: 0 100px 0 100px;
    height: 100%;
    object-fit: cover;
}

.depoiment .text {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:0 50px;
}

.depoiment .text h1 {
    font-weight: 900;
    margin-bottom: 20px;
}
.depoiment .text p {
    font-weight: 700;
}