.depoiment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0 100px;
    color: #451A70;
    margin: 100px 0;
}

.depoiment h3 {
    margin-bottom: 20px;
}
.depoiment h4 {
    margin-bottom: 5px;
    font-weight: 900;
}

@media(max-width: 600px) {
    .depoiment {
        margin: 50px 0;
        padding: 0 30px;
    }
}

