.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    width: 100%;
    color: #371d64;
}

.details h2 {
    margin: 10px 0;
}

.details .sort {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    background-color: #371d64;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.details .youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    background-color: #9d0000;
    padding: 10px;
    border-radius: 6px;
    margin: 20px 0;

}



.details .sort h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
}
.details .youtube h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
}
.details .youtube h3 a {
    text-decoration: none;
    color: lightcyan;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.details .sort h4 svg {
    margin: 0 5px;
}
.details .youtube h3 a svg{
    margin: 0 5px;
}

.details .listCourses {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.details .listCourses .block2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


.details .listCourses .iten {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    width: 500px;
    background-color: #7358a1;
    color: #fff;
    text-align: center;
}

.details .listCourses .iten h5 {
    margin: 8px 0;
    font-weight: 900;
}
.details .listCourses .iten button {
        background-color: #8c73b8;
        border: 1px solid #fff;;
        border-radius: 10px;
        margin-top: 5px;
        padding: 5px 20px;
        color: #fff;
        cursor: pointer;
}



@media(max-width: 1020px) {
.details .sort {
    width: 70%;
}
@media(max-width: 900px) {
    .details .listCourses {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media(max-width: 830px) {
        .details .sort {
            width: 500px;
        }

    @media(max-width: 550px) {
        .details .listCourses .iten {
            width: 400px;
        }

        .details .sort {
            width: 400px;
        }
        .details .sort h4 {
            font-size: 13px;
        }


        @media(max-width: 450px) {
            .details .listCourses .iten {
                width: 320px;
            }
            .details .sort {
                width: 320px;
                padding: 5px;
            }
            .details .sort h4 {
                font-size: 11px;
            }
    
    
        
        }
    
    }
    
}
}
}