.couses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

.couses .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 30px;
}


.couses h1 {
    text-align: center;
}

.couses p {
    text-align: center;
}

.couses .itens {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


.couses .itens .course1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 250px;
    height: 320px;
    margin: 10px 20px;
    background-color: #00AFAB;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
.couses .itens .course2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 250px;
    height: 320px;
    margin: 10px 20px;
    background-color: #AD98D2;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
.couses .itens .course3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 250px;
    height: 320px;
    margin: 10px 20px;
    background-color: #FCC301;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}

.couses .itens .course4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 250px;
    height: 320px;
    margin: 10px 20px;
    background-color: #F05B68;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}

.couses .itens .course1 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.couses .itens .course1 .text .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 125px;
    height: 65px;
}
.couses .itens .course1 .text img {
    width: 60px;
}

.couses .itens .course1 .text h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.couses .itens .course1 .text p {
    text-align: left;
}

.couses .itens .course1 a {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 20px;
}


.couses .itens .course2 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.couses .itens .course2 .text .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 125px;
    height: 65px;
}
.couses .itens .course2 .text img {
    width: 60px;
}

.couses .itens .course2 .text h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.couses .itens .course2 .text p {
    text-align: left;
}

.couses .itens .course2 a {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 20px;
}



.couses .itens .course3 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.couses .itens .course3 .text .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 125px;
    height: 65px;
}
.couses .itens .course3 .text img {
    width: 60px;
}

.couses .itens .course3 .text h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.couses .itens .course3 .text p {
    text-align: left;
}

.couses .itens .course3 a {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 20px;
}


.couses .itens .course4 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.couses .itens .course4 .text .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 125px;
    height: 65px;
}
.couses .itens .course4 .text img {
    width: 60px;
}

.couses .itens .course4 .text h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.couses .itens .course4 .text p {
    text-align: left;
}

.couses .itens .course4 a {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 20px;
}