.couses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

.couses .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 30px;
}


.couses h1 {
    text-align: center;
}

.couses p {
    text-align: center;
}

.couses .itens {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.couses .itens .course{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 250px;
    height: 310px;
    margin: 10px 20px;
    background-color: #451A70;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}

.couses .itens .course .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.couses .itens .course .text .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 125px;
    height: 75px;
}
.couses .itens .course .text img {
    width: 70px;
}



.couses .itens .course .text h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.couses .itens .course .text p {
    text-align: left;
}

.couses .itens .course a {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 20px;
}