.details-promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    width: 100%;
    color: #371d64;
}

.details-promotion h2 {
    margin: 10px 0;
}

.details-promotion .sort {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    background-color: #371d64;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.details-promotion .youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    background-color: #397e00;
    padding: 10px;
    border-radius: 6px;
    margin: 20px 0;

}



.details-promotion .sort h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
}
.details-promotion .youtube h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
}
.details-promotion .youtube h3 a {
    text-decoration: none;
    color: lightcyan;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.details-promotion .sort h4 svg {
    margin: 0 5px;
}
.details-promotion .youtube h3 a svg{
    margin: 0 5px;
}

.details-promotion .listCourses {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.details-promotion .listCourses .block2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


.details-promotion .listCourses .iten {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    width: 500px;
    background-color: #7358a1;
    color: #fff;
    text-align: center;
}

.details-promotion .listCourses .iten h5 {
    margin: 8px 0;
    font-weight: 900;
}
.details-promotion .listCourses .iten button {
        background-color: #8c73b8;
        border: 1px solid #fff;;
        border-radius: 10px;
        margin-top: 5px;
        padding: 5px 20px;
        color: #fff;
        cursor: pointer;
}



@media(max-width: 1020px) {
.details-promotion .sort {
    width: 70%;
}
@media(max-width: 900px) {
    .details-promotion .listCourses {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .details-promotion .youtube {
        flex-direction: column;

    }

    @media(max-width: 830px) {
        .details-promotion .sort {
            width: 500px;
        }

    @media(max-width: 550px) {
        .details-promotion .listCourses .iten {
            width: 400px;
        }

        .details-promotion .youtube {
            flex-direction: column;
            width: 100%;
        }

        .details-promotion .sort {
            width: 400px;
        }
        .details-promotion .sort h4 {
            font-size: 13px;
        }


        @media(max-width: 450px) {
            .details-promotion .listCourses .iten {
                width: 320px;
            }
            .details-promotion .sort {
                width: 320px;
                padding: 5px;
            }
            .details-promotion .sort h4 {
                font-size: 11px;
            }
    
    
        
        }
    
    }
    
}
}
}