.aniversary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    object-fit: cover;
    padding: 20px 20px 0 20px ;
}

.aniversary .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    color: #fff;
    flex-wrap: wrap;
}
.aniversary .content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    margin-top: 20px;
    text-decoration: none;
}

.aniversary .content .buttons .btn-whatsapp {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    margin: 0 5px;
    text-decoration: none;
}
.aniversary .content .buttons .btn-loja {
    background-color: rgb(100, 0, 194);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    margin: 0 5px;
    text-decoration: none;
}


.aniversary .content .buttons .btn-whatsapp a{
    text-decoration: none;
}

.aniversary .content .buttons .btn-loja a{
    text-decoration: none;
}

.aniversary .content img {
    width: 250px;
    margin-bottom: 10px;
}
.aniversary .content .happy img {
    margin-top: 10px;
    width: 400px;
}
.aniversary .content .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px;
}

.aniversary .content .text .textImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.aniversary .content .text .textImage h1 {
    font-size: 50px;
}

.aniversary .content .text .textImage img {
    width: 130px;
    margin: 50px 10px 0 10px;
}

.aniversary .content .text .miniText {
    position: absolute;
    margin-top: 80px;
}
.aniversary .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 0 20px;
}

.aniversary .image img {
    margin-top: 40px;
    object-fit: cover;
}

@media(max-width: 900px) {
    .aniversary .content .buttons {
        flex-direction: column;
    }

    .aniversary .content .buttons .btn-whatsapp {
        margin: 5px;
    }

    .aniversary .content .buttons .btn-loja {
        margin: 5px;
    }

@media(max-width: 600px) {

    .aniversary .content {
        width: 90%;
        padding: 0 10px;
    }
    
    .aniversary .image {
        display: none;
    }

    .aniversary .content .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        margin-top: 20px;
        text-decoration: none;
    }
    .aniversary .content .buttons a {
        text-decoration: none;
    }

    .aniversary .content .buttons .btn-whatsapp {
        margin: 5px;
    }
    .aniversary .content .buttons .btn-whatsapp a{
        text-decoration: none;
    }
    .aniversary .content .buttons .btn-loja {
        margin: 5px;
    }
    .aniversary .content .buttons .btn-loja a{
        text-decoration: none;
    }

        .aniversary{
            border-radius: 0 0 100px 0;
        }
    }
}


